.s{
    margin-left: 180px;
}
.a :hover{
    position: relative;
    border-color: red;
}
.b1{
    margin-left: 500px;
    margin-top: -35px;
}
.b{
    margin-left: 500px;
}
.d{
    margin-left: 500px;
    margin-top: -250px;
}   